<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DefaultHoldModeTimerDuration" value="594" />
    <add key="DefaultEnableLogging" value="false" />
    <add key="DefaultWheelSimFactor" value="4.4" />
    <add key="DefaultEnableHoldMode" value="False" />
    <add key="DefaultFactorBrowseNoRatchet" value="10.0" />
    <add key="DefaultDoubleTapTimerDuration" value="220" />
    <add key="DefaultTurnSpeedThresholdNoRatchet" value="100" />
    <add key="DefaultTurnSpeedThresholdRatchet" value="14" />
    <add key="DefaultTurnSpeedInterval" value="150" />
    <add key="DefaultSlowSpeedThresholdNoRatchet" value="3" />
    <add key="DefaultIsKeyboardModeRatchetEnabled" value="true" />
    <add key="DefaultShortcutEnable" value="true" />
    <add key="DefaultDoubleTapEnable" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>